<div class="container text-center">
    <h1>Foster Me!</h1>
    <form action="/signup" method="post" class="signUp">
        <p>Sign up</p>
        <fieldset class="form-group">
            <input type="text" name="name" placeholder="Name" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <input type="text" name="address" placeholder="Address" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <input type="tel" name="phone" placeholder="Phone number" class="form-control">
        </fieldset>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="keepLoggedIn" value=1>
                Keep me logged in
            </label>
        </div>

        <fieldset class="form-group">
            <input type="hidden" name="signUp" value="1">
            <input type="submit" name="submit" value="Sign Up" class="btn btn-success">
        </fieldset>
        <div class="toggleForm"><b>Log In</b></div>
    </form>

    <form action="/login" method="post" class="logIn">
        <p>Log in</p>
        <fieldset class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control">
        </fieldset>
        <fieldset class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control">
        </fieldset>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="keepLoggedIn" value=1>
                Keep me logged in
            </label>
        </div>
        
        <fieldset class="form-group">
            <input type="hidden" name="signUp" value="0">
            <input type="submit" name="submit" value="Log In" class="btn btn-success">
        </fieldset>
        <div class="toggleForm"><b>Sign Up</b></div>
    </form>
</div>