<!DOCTYPE HTML>
<HTML>

<!-- - Navbar  -->
<nav id="navbar" class="navbar navbar-toggleable-md navbar-light bg-faded">

 
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
    
     <a class="navbar-brand" href="#">
      <img src="./assets/images/foster-me-logo.png" height="50px" alt="Foster Me">
      </a>


      <div class="justify-content-end collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link navigation" data-toggle="modal" data-target=".about-page" href="#">ABOUT</a>
          </li>
          <li class="nav-item">
            <button class=" btn btn-primary sidebar-modal" data-toggle="modal" data-target=".register-button" href="#">REGISTER</button>
            </li>
            <li class="nav-item">
            <button class=" btn btn-secondary sign-in-button" data-toggle="modal" data-target=".sign-in-button" href="#">SIGN IN</button>
          </li>
          
        </ul>
        </div>

  </nav>

<div id="map" style='width: 100%; height: calc(100vh - 160px);'></div>


<div class="container text-center">
    <h1>Foster Me!</h1>

    <h3>Sign up</h3>
    <p>Are you a?</p>
    <button type="button" class="btn btn-secondary btn-parent">Parent</button>
    <button type="button" class="btn btn-secondary btn-shelter">Shelter</button>

    <form class="signUp">
        <div class="signup-notice"></div>
        <h4 class="parent-title">Parent Sign Up Form</h4>
        <h4 class="shelter-title">Shelter Sign Up Form</h4>

        <fieldset class="form-group">
            <input type="text" name="name" placeholder="Name" class="form-control name-signup">
        </fieldset>
        <fieldset class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control email-signup">
        </fieldset>
        <fieldset class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control password-signup">
        </fieldset>
        <fieldset class="form-group">
            <input type="text" name="address" placeholder="Address" class="form-control address-signup">
        </fieldset>
        <fieldset class="form-group">
            <input type="tel" name="phone" placeholder="Phone number" class="form-control phone-signup">
        </fieldset>

        <div class="animal">
            <p>Desired animals:</p>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input cat-signup" type="checkbox" name="cat"> Cats
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input dog-signup" type="checkbox" name="dog"> Dogs
                </label>
            </div>
        </div>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="keepLoggedIn" value=1>
                Keep me logged in
            </label>
        </div>

        <fieldset class="form-group">
            <input type="hidden" name="signUp" value="1">
            <input type="submit" name="signUp" value="Sign Up" class="btn btn-success btn-signup-parent">
            <input type="submit" name="signUp" value="Sign Up" class="btn btn-success btn-signup-shelter">
        </fieldset>
    </form>

    <hr/>
    
{{!-- login form --}}
    <div>{{this.message}}</div>
    <form class="logIn">
        <h3>Log in</h3>
        <div class="login-notice"></div>
        <fieldset class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control email-login">
        </fieldset>
        <fieldset class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control password-login">
        </fieldset>

        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="keepLoggedIn" value=1>
                Keep me logged in
            </label>
        </div>
        
        <fieldset class="form-group">
            <input type="hidden" name="signUp">
            <input type="submit" name="logIn" value="Log In" class="btn btn-success btn-login">
        </fieldset>
    </form>
</div>


<div class= "footer">
        <p><a class="footer-link" data-toggle="modal" data-target=".contact-us" href="#">Contact Us</a> | Copyright 2017. All Rights Reserved.</center></p>


    </div>
</HTML>