<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="navbar-brand" href="/"><img src="assets/img/catdog.png" class="catdog-icon"></a>
    </li>
    <li class="nav-item mt-1 link-login">
        <a class="nav-link">Login</a>
    </li>
    <li class="nav-item mt-1 link-signup">
        <a class="nav-link">Signup</a>
    </li>
</ul>

<div class="container text-center big-title"><h1 class="display-1">Foster Me!</h1></div>

<div class="container text-center user-account">

    <form class="py-1 logIn">
        <h3>Login</h3>
        <div class="login-notice"></div>

        <fieldset class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control email-login">
        </fieldset>
        <fieldset class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control password-login">
        </fieldset>

        <fieldset class="form-group">
            <input type="hidden" name="signUp">
            <input type="submit" name="logIn" value="Log In" class="btn btn-success btn-login">
        </fieldset>
    </form>

    <form class="py-1 signUp">
        <h3>Signup</h3>
        <div class="signup-notice"></div>

        <button type="button" class="btn btn-secondary btn-parent active">As a Parent</button>
        <button type="button" class="btn btn-secondary btn-shelter">As a Shelter</button>

        <h4 class="parent-title">Parent Signup Form</h4>
        <h4 class="shelter-title">Shelter Signup Form</h4>

        <fieldset class="form-group">
            <input type="text" name="name" placeholder="Name" class="form-control name-signup">
        </fieldset>
        <fieldset class="form-group">
            <input type="email" name="email" placeholder="Email" class="form-control email-signup">
        </fieldset>
        <fieldset class="form-group">
            <input type="password" name="password" placeholder="Password" class="form-control password-signup">
        </fieldset>
        <fieldset class="form-group">
            <input type="text" name="address" placeholder="Address" class="form-control address-signup">
        </fieldset>
        <fieldset class="form-group">
            <input type="tel" name="phone" placeholder="Phone number" class="form-control phone-signup">
        </fieldset>

        <div class="animal">
            <p>Desired animals:</p>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input cat-signup" type="checkbox" name="cat"> Cats
                </label>
            </div>
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input dog-signup" type="checkbox" name="dog"> Dogs
                </label>
            </div>
        </div>

        <fieldset class="form-group">
            <input type="submit" name="signUp" value="Sign Up" class="btn btn-success btn-signup-parent">
            <input type="submit" name="signUp" value="Sign Up" class="btn btn-success btn-signup-shelter">
        </fieldset>
    </form>
</div>