<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="navbar-brand" href="/"><img src="assets/img/catdog.png" class="catdog-icon"></a>
    </li>
    <li class="nav-item mt-1 link-logout">
        <a class="nav-link">Logout</a>
    </li>
    <li class="nav-item mt-1 link-setting">
        <a class="nav-link">Account Settings</a>
    </li>
</ul>

<div class="container text-center big-title"><h1 class="display-4">Hi {{this.name}}!</h1></div>
<div class="myPlace" data-lat="{{this.latitude}}" data-long="{{this.longitude}}"></div>

<div class="container text-center py-1 user-setting">
    <form>
        <p>Change password</p>
        <div class="change-password-notice"></div>

        <fieldset class="form-group">
            <input type="password" name="password" placeholder="New Password" class="form-control password-new1">
        </fieldset>
        <fieldset class="form-group">
            <input type="password" name="password" placeholder="Retype New Password" class="form-control password-new2">
        </fieldset>

        <fieldset class="form-group">
            <input type="submit" name="signUp" value="Save Password" class="btn btn-success btn-save-password">
        </fieldset>
    </form>

    <button type="button" class="btn btn-danger btn-delete-account">Delete Account</button>

    <div class="confirm-delete">
        <p>Are you sure you want to delete your account?</p>
        <button type="button" class="btn btn-danger btn-confirm-delete-account">Confirm</button>
        <button type="button" class="btn btn-warning btn-cancel-delete-account">Cancel</button>
    </div>
</div>